<div class="container" >
  <form name="signupForm" novalidate>
    <h2 id="signup" class="text-center">Sign Up</h2>
    <div class="row form-group">
      <div class="col-md-2"><label for="firstName">First name</label></div>
      <div class="col-md-6">
        <input type="text" class="form-control" name="firstName" ng-model="signupCtrl.member.firstName" required>
      </div>
      <div class="col-md-4">
        <p ng-if="signupForm.firstName.$error.required && signupForm.firstName.$touched" class="form-text text-muted">
          Your first name is required.
        </p>
      </div>
    </div>
    <div class="row form-group">
      <div class="col-md-2"><label for="lastName">Last name</label></div>
      <div class="col-md-6">
        <input type="text" class="form-control" name="lastName" ng-model="signupCtrl.member.lastName" required>
      </div>
      <div class="col-md-4">
        <p ng-show="signupForm.lastName.$error.required && signupForm.lastName.$touched" class="form-text text-muted">
          Your last name is required.
        </p>
      </div>
    </div>
    <div class="row form-group">
      <div class="col-md-2"><label for="email">Email</label></div>
      <div class="col-md-6">
        <input type="email" class="form-control" name="email" ng-model="signupCtrl.member.email" placeholder="yourname@company.com" required>
      </div>
      <div class="col-md-4">
        <p ng-show="signupForm.email.$invalid && signupForm.email.$touched" class="form-text text-muted">
          A valid email address is required.
        </p>
      </div>
    </div>
    <div class="row form-group">
      <div class="col-md-2"><label for="phoneNumber">Phone number</label></div>
      <div class="col-md-6">
        <input type="phone" class="form-control" name="phoneNumber" placeholder="555-555-5555" ng-model="signupCtrl.member.phoneNumber" pattern="(\d{3})-(\d{3})-(\d{4})">
      </div>
      <div class="col-md-4">
        <p ng-show="signupForm.phoneNumber.$invalid && signupForm.phoneNumber.$touched" class="form-text text-muted">
          Phone number format is invalid.
        </p>
      </div>
    </div>
    <div class="row form-group">
      <div class="col-md-2"><label for="favouriteDish">Favourite Dish</label></div>
      <div class="col-md-6">
        <input type="text" class="form-control" name="favouriteDish" ng-model="signupCtrl.member.favouriteDish">
      </div>
      <div class="col-md-4">
        <p ng-show="signupCtrl.favouriteDish_invalid" class="form-text text-muted">
          No such menu number exists.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-6"><button ng-click="signupCtrl.register()" ng-disabled="signupForm.$invalid || signupCtrl.completed" class="btn btn-primary">Submit</button></div>
    </div>
    <div class="row">
      <div class="col-md-2">&nbsp;</div>
      <div class="col-md-6">&nbsp;</div>
    </div>
    <div class="row" ng-if="signupCtrl.completed">
      <div class="col-md-8">
        <div class="alert alert-success" role="alert">
          Your information has been saved
        </div>
      </div>
    </div>
  </form>
</div>
